@font-face {
    font-family: 'Causten-Bold.ttf';
    src: url('../fonts/Causten-Bold.ttf');
}
@font-face {
    font-family: 'Causten-Medium.ttf';
    src: url('../fonts/Causten-Medium.ttf');
}
@font-face {
    font-family: 'Causten-Regular.ttf';
    src: url('../fonts/Causten-Regular.ttf');
}
@font-face {
    font-family: 'Causten-Semi-Bold.ttf';
    src: url('../fonts/Causten-Semi-Bold.ttf');
}
@font-face {
    font-family: 'Causten-Medium.ttf';
    src: url('../fonts/Causten-Medium.ttf');
}
@font-face {
    font-family: 'Causten-Light';
    src: url('../fonts/Causten-Light.ttf');
}
@font-face {
    font-family: 'CoreSansC-55MediumIt';
    src: url('../fonts/CoreSansC-55MediumIt.ttf');
}
@font-face {
    font-family: 'CoreSansC-45Regular';
    src: url('../fonts/CoreSansC-45Regular.ttf');
}
@font-face {
    font-family: 'CoreSansC-65BoldIt';
    src: url('../fonts/CoreSansC-65BoldIt.ttf');
}
@font-face {
    font-family: 'CoreSansC-75ExtraBoldIt';
    src: url('../fonts/CoreSansC-75ExtraBoldIt.ttf');
}
@font-face {
    font-family: 'CoreSansC-85HeavyIt';
    src: url('../fonts/CoreSansC-85HeavyIt.ttf');
}
@font-face {
    font-family: 'Manrope-Regular';
    src: url('../fonts/Manrope-Regular.ttf');
}
@font-face {
    font-family: 'Manrope-SemiBold';
    src: url('../fonts/Manrope-SemiBold.ttf');
}
@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('../fonts/Montserrat-ExtraBold.ttf');
}
@font-face {
    font-family: 'Mintaka';
    src: url('../fonts/Mintaka.ttf');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf');
}